/*reset*/
body {
    margin: 0;
}

/*this tank style css*/
#map {
    position: relative;
}
.tank {
    position: absolute;
    background: url('../images/tank.png') no-repeat;
    overflow: hidden;
    z-index: 1;
    
}

.hero {
    width: 32px;
    height: 32px;

}