<article class="page">
    <section class="home">
        <h2><% config.title %>
            <a href="javascript:">
                <img class="avatar" src="assets/imgs/avatar.jpg" alt="">
            </a>
        </h2>
        <h3>unofficial's personal website</h3>
        <p>
            »
            <a href="/#blog">博客</a>
        </p>
        <p>
            »
            <a href="//github.com/cangku" target="_blank">github</a>
        </p>
    </section>
</article>