	<footer>
		<div class="view">
			Copyright ©2014-2016 本站由 <a href="/">unofficial</a> 参考谷歌字体页面手码主题 | <a href="<%= url_for(site.data.menu.About) %>">联系方式</a>
		</div>
	</footer>
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="<%= url_for(theme.jsPath) %>main.js"></script>
</body>
</html>