.pi {
    &-meta {
        color: #738a94;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 50px;

        author, time {
            color: #3eb0ef;
        }
    }

    &-container {
        text-align: center;
    }

    &-main {
        padding: 4vw;
    }
}

.content__default {
    text-align: left;

    img {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        position: relative;

        a {
            position: absolute;
            visibility: hidden;
        }
    }
}