body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* select */
.select-selected-value, .select-selected-text {
    position: absolute;
}

.select {
    position: relative;
    display: block;
    border: 1px solid #eee;
    width: 80px;
    height: 26px;
    line-height: 26px;
    -webkit-user-select: none;
}
.select:after {
    position: absolute;
    top: 50%;
    right: 1%;
    margin: -8px 8px 0 0;
    display: block;
    content: ' ';
    width: 10px;
    height: 10px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    transform: rotate(-135deg);
}
.button {
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    cursor: pointer;
}
.button-blue {
    border: 1px solid #007aff;
    background-color: #007aff;
    color: #fff;
}
.select-selected {
    background-color: #eee;
}
.select-selected-text {
    width: 100%;
    padding-left: 5px;
}
.select-option {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border-top: solid 1px #ccc;
}
.select-option {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border-top: solid 1px #ccc;
}

.select-option-header {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.select-option-body {
    background-color: #ddd;
    line-height: 30px;
    cursor: context-menu;
}
.select-option-body li {
    padding: 6px;
}
.select-option-body li.checking {
    background: #ccc;
}