<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weibo-vue</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="weibo" class="page" v-cloak>
		<div v-if="isLogin">
			<!--<a href="javascript:;" @click="logout">退出</a>-->
			<div v-if="userInfo">
				<div id="header-logininfo">
					<div class="inner">
						<a class="profile_image" href="javascript:;" :title="userInfo.name +'——'+ userInfo.description">
							<img :src="userInfo.profile_image_url" :alt="userInfo.name">
						</a>
					</div>
				</div>
				<ul class="items" v-if="favorites">
					<li v-for="favorite in favorites.favorites" v-if="!favorite.status.deleted">
						<div>
							<a href="javascript:;" :id="favorite.status.id" data-type="favorites" @click="destroy"> × </a>
						</div>
						<div class="header clearfix">
							<div>
								<img class="profile_image" :src="favorite.status.user.profile_image_url">
							</div>
							<div>
								<ul>
									<li>{{favorite.status.user.name}}</li>
									<li>
										<span v-if="favorite.status.user.name!=favorite.status.user.screen_name">（{{favorite.status.user.screen_name}}）</span>
										<span>{{format(favorite.status.created_at)}}</span>
									</li>
								</ul>
							</div>
						</div>
						<p>
							{{favorite.status.text}}
						</p>
						<p v-if="favorite.status.retweeted_status">
							{{favorite.status.retweeted_status.text}}
						</p>
						<p>{{format(favorite.favorited_time)}}</p>
						<ol>
							<li v-for="tagInfo in favorite.tags" :id="tagInfo.id">{{tagInfo.tag}}</li>
							<!--<li v-for="tagInfo in myTag"></li>-->
						</ol>
						<div><span><input type="text" ></span><button :id="favorite.status.id" @click="favoriteTagUpdate">添加</button><button :id="favorite.status.id" @click="favoriteTagUpdate">取消</button></div>
					</li>
				</ul>
				<hr />
				<ul class="items" v-if="userTimeline">
					<li v-for="status in userTimeline.statuses">
						<div>
							<a href="javascript:;" :id="status.id" data-type="statuses" @click="destroy"> × </a>
						</div>
						<p>
							{{status.text}}
						</p>
					</li>
				</ul>
				<hr />
				<button @click="destroyBatch">删除全部微博</button>
				<hr />
				<ul class="items" v-if="friendsTimeline">
					<li v-for="status in friendsTimeline.statuses">{{status.text}}</li>
				</ul>
			</div>
		</div>
		<div v-else @click="login" class="login-btn"></div>
		
		<div v-if="errorInfo" class="error">
			{{errorInfo.error_code+":"+errorInfo.error}}
		</div>
	</div>
	<!-- unofficial.sinaapp.com 2199529438 -->
	<!-- www.ul.com.nu 837978536 未认证 -->
	<!-- unofficial.cnblogs.com 3605782540 -->
	<script src="//tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3605782540"></script>
	<script src="js/promise_weibo.js"></script>
	<script src="//cdn.bootcss.com/vue/2.1.3/vue.js"></script>
	<script>
		(function() {
			// 常量
			const CONFIG = WB2._config;
			const STATUS = false;
			const VM = new Vue({
				el: '#weibo',
				data: {
					userInfo: '',
					userTimeline: '',
					userTimelineIds: '',
					friendsTimeline: '',
					favorites: '',
					tags:'',
					errorInfo: '',
					isLogin: STATUS
				},
				created: function() {
					// 获取登录用户信息
					this.getUserInfo();
					// 获取登录用户关注好友的微博流
					// this.getFriendsTimeline();
					// 获取登录用户的微博流
					this.getUserTimeline();
					this.getFavorites();
				},
				brforeCreate: function() {
					STATUS = WB2.checkLogin();
				},
				methods: {
					// 公共方法
					format: function(time) {
						var date = new Date(time);
						return ''.concat(date.getFullYear(), '-', date.getMonth()+1, '-', date.getDate(), ' ', date.getHours(), ':', date.getMinutes());
					},
					login: function() {
						WB2.login(function() {
							this.isLogin = true;
						}.bind(this));
					},
					logout: function() {
						WB2.logout(function() {
							this.isLogin = false;
						}.bind(this));
					},
					getUserInfo: function() {
						var _this = this;
						WB2.anyWhere(function(W){
							//数据交互
							W.parseCMD('/users/show.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.userInfo = oResult;
								} else {
									_this.errorInfo = oResult;
								}
							}, {"uid" : CONFIG.uid}, {method: 'get', cache_time: 0});
						})
					},
					getFriendsTimeline: function() {
						var _this = this;
						WB2.anyWhere(function(W){
							//数据交互
							W.parseCMD('/statuses/friends_timeline.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.friendsTimeline = oResult;
								} else {
									_this.errorInfo = oResult;
								}
							}, {"uid" : CONFIG.uid}, {method: 'get', cache_time: 0});
						})
					},
					getUserTimeline: function() { // 获取用户发布的微博
						var _this = this;
						WB2.anyWhere(function(W){
							//数据交互
							W.parseCMD('/statuses/user_timeline.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.userTimeline = oResult;
								} else {
									_this.errorInfo = oResult;
								}
							}, {"count": 100}, {method: 'get', cache_time: 0});
						})
					},
					show: function(id) { // 根据ID获取微博
						var _this = this;
						WB2.anyWhere(function(W){
							//数据交互
							W.parseCMD('/statuses/show.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.showStatus = oResult;
								} else {
									_this.errorInfo = oResult;
								}
							}, {"id": id}, {method: 'get', cache_time: 0});
						})
					},
					destroy: function(e) { // 根据微博ID删除指定微博
						var _this = this;
						WB2.anyWhere(function(W){
							// 获取类型
							var type = e.target.dataset.type;
							// 数据交互
							W.parseCMD('/'+ type +'/destroy.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.destroyStatus = oResult;
								} else {
									_this.errorInfo = oResult;
								}
							}, {"id" : e.target.id}, {method: 'POST', cache_time: 0});
						})
						// 从timeline中移除
						e.path[3].removeChild(e.path[2]);
					},
					// 删除全部微博
					destroyBatch: statusDestroyBatch,
					getFavorites: function() { // 获取收藏微博的ID列表
						var _this = this;
						WB2.anyWhere(function(W){
							//数据交互
							W.parseCMD('/favorites.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.favorites = oResult;
								} else {
									_this.errorInfo = oResult;
								}
							},{count: 3} , {method: 'get', cache_time: 0});
						})
					},
					favoriteTagUpdate: function(e) {
						var _this = this;
						var id = e.target.id;
						var value = e.target.previousElementSibling.lastElementChild.value;
						var valueArr = value.split(' ').filter(function(e) {
							return e != '';
						});
						var tags = valueArr.join(',');
						WB2.anyWhere(function(W){
							//数据交互
							W.parseCMD('/favorites/tags/update.json', function(oResult, bStatus) {
								if(bStatus) {
									_this.tags = oResult.tags;
								} else {
									_this.errorInfo = oResult;
								}
							},{id: id, tags: tags} , {method: 'post', cache_time: 0});
						})
					}
				}
			});
		}())
	</script>
</body>
</html>