
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: #eee;
    padding: 20px 30px;

    .name {
        flex-basis: 60%;
        text-align: center;
    }
}

.body {
    padding: 5px 30px;
    font-size: 36px;

    .name {
        flex-basis: 60%;
        text-align: center;
    }
}
