/* 默认选择 */
.select {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;

    .wrapper {
        position: relative;
        display: flex;
        height: 190px;
        -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 10%, #fff 40%, #fff 60%, transparent 90%, transparent);
        & > li {
            width: 100%;
            text-align: center;
        }
    }

    &-right:after {
        position: absolute;
        top: 50%;
        right: 6px;
        margin-top: -8px;
        display: block;
        content: ' ';
        width: 10px;
        height: 10px;
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        transform: rotate(-135deg);
    }

    .select-selected-value, .select-selected-text {
        position: relative;
        z-index: 1; 
        border: 2px solid #515151;
        border-radius: 4px;
        height: 26px;
        line-height: 26px;
        display: block;
        padding: 0 20px 0 5px;
    }
    
    .select-selected {
        background-color: #eee;
    }

    .select-option {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #eee;
        border-top: solid 1px #ccc;
    }

    .select-option {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #eee;
        border-top: solid 1px #ccc;
    }

    .select-option-header {
        display: flex;
        justify-content: space-between;
        padding: 6px;
        background: #fff;
    }
    .select-rule, .select-option-body {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 30px;
        margin-top: -15px;
    }
    .select-rule {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background-color: #ddd;
        box-sizing: border-box;
    }
    .select-option-body {
        line-height: 30px;
        cursor: context-menu;
        font-size: 12px;
        transform-style: preserve-3d;
        li {
            width: 100%;
            height: 100%;
            line-height: 30px;
            color: #333;
            position: absolute;
        }
        li:nth-of-type(1) {
            transform: rotateX(0deg) translateZ(85.07px);
        }
        li:nth-of-type(2) {
            transform: rotateX(-20deg) translateZ(85.07px);
        }
        li:nth-of-type(3) {
            transform: rotateX(-40deg) translateZ(85.07px);
        }
        li:nth-of-type(4) {
            transform: rotateX(-60deg) translateZ(85.07px);
        }
        li:nth-of-type(5) {
            transform: rotateX(-80deg) translateZ(85.07px);
        }
    }
    
    .select-option-body li.checking {
        background: #ccc;
    }
}

/* 时间选择器 */
/* 选择 */
.date {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;

    .wrapper {
        position: relative;
        display: flex;
        & > li {
            width: 100%;
            text-align: center;
        }
        .year-checked, .month-checked, .day-checked {
            width: 100%;
            height: 30px;
            padding: 6px;
            background: rgba(255, 255, 255, .5);
            position: absolute;
            top: 50%;
            margin-top: -21px;
        }
    }

    &-right:after {
        position: absolute;
        top: 50%;
        right: 6px;
        margin-top: -8px;
        display: block;
        content: ' ';
        width: 10px;
        height: 10px;
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        transform: rotate(-135deg);
    }

    .select-selected-value, .select-selected-text {
        position: relative;
        z-index: 1; 
        border: 2px solid #515151;
        border-radius: 4px;
        height: 26px;
        line-height: 26px;
        display: block;
        padding: 0 20px 0 5px;
    }

    .select-option {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #eee;
        border-top: solid 1px #ccc;
    }

    .select-option {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #eee;
        border-top: solid 1px #ccc;
    }

    .select-option-header {
        display: flex;
        justify-content: space-between;
        padding: 6px;
    }

    .select-option-body {
        background-color: #ddd;
        line-height: 30px;
        cursor: context-menu;
        height: 126px;
        font-size: 12px;
    }
    
    .select-option-body li.checking {
        background: #ccc;
    }
}
/* 按钮 */
.button {
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    cursor: pointer;
}
.button-blue {
    border: 1px solid #007aff;
    background-color: #007aff;
    color: #fff;
}