/**
 * 重置浏览器默认样式
 */

a {
	text-decoration: none;
	color: #fff;
	&[target='_blank'] {
		cursor: alias;
	}
}

body {
    -webkit-user-select: none;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
// 测试注释
