table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

table td, table th {
    border: 1px solid #e6e6e6;
    padding: 5px 8px;
    word-break: normal
}

table th {
    background: #f3f3f3
}