.moregoods {
    .otherGoodsContainer {
        padding: 0 0 63px;
        background: #FFFFFF;
        text-align: left;
    }
    .otherGoodsTitle {
        padding: 60px 30px 0px;
        margin-bottom: -23px;
        position: relative;

        .otherGoodsTitleName {
            font-size: 44px;
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: rgba(0, 0, 0, 1);
            line-height: 44px;
        }

        .otherGoodsTitleBg {
            position: absolute;
            left: 30px;
            top: 77px;
            width: 380px;
            height: 34px;
            background: rgba(255, 135, 135, 0.64);
        }
    }

    .otherGoods {
        margin: 0px 30px;
        background: #FFFFFF;

        .goodItem {
            margin-top: 90px;

            .itemTitle {
                display: flex;
                flex-direction: row;

                .itemFirst {
                    font-size: 48px;
                    font-family: SourceHanSansCN-Heavy;
                    font-weight: 800;
                    color: rgba(238, 26, 34, 1);
                }

                .itemSecond {
                    font-size: 48px;
                    font-family: SourceHanSansCN-Heavy;
                    font-weight: 800;
                    color: #000000;
                }
            }

            .itemDescribe {
                margin-top: 24px;
                font-size: 36px;
                font-family: PingFangSC-Light;
                font-weight: 300;
                color: rgba(29, 30, 31, 1);
                line-height: 36px;
            }

            .itemDetails {
                margin-top: 64px;
                display: flex;
                flex-direction: row;

                .goodsImage {
                    background: #FAFAFA;
                    width: 230px;
                    height: 323px;
                }

                .goodsInfo {
                    margin-left: 32px;
                    width: calc(100% - 262px);
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .goodsTitle {
                        font-size: 36px;
                        font-family: PingFangSC-Medium;
                        font-weight: 500;
                        color: rgba(29, 30, 31, 1);
                        line-height: 44px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .goodsPrice {
                        margin-top: 16px;
                        font-size: 24px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(29, 30, 31, 1);
                        line-height: 24px;
                    }

                    .goodsSubtitle {
                        margin-top: 16px;
                        height: 84px;
                        font-size: 24px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(29, 30, 31, 0.6);
                        line-height: 36px;
                        position: relative;

                        .rightArrow {
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            top: 0px;
                            right: 3px;
                        }
                    }

                    .goodsCount {
                        margin-top: 16px;
                        font-size: 24px;
                        font-family: PingFangSC-Regular;
                        font-weight: 400;
                        color: rgba(238, 26, 34, 1);
                        line-height: 24px;
                    }

                    .goodsButtonBg {
                        width: calc(100% - 9px);
                        height: 68px;
                        background: #000000;
                        position: absolute;
                        bottom: 0px;

                        .goodsButton {
                            width: 100%;
                            height: 100%;
                            font-size: 32px;
                            font-family: PingFangSC-Semibold;
                            font-weight: 600;
                            color: rgba(255, 255, 255, 1);
                            line-height: 68px;
                            background: #EE1A22;
                            text-align: center;
                            position: relative;
                            bottom: 10px;
                            left: 9px;
                            padding-top: 2px;
                        }
                    }
                }
            }
        }
    }
}