<footer>
	<div class="wrapper">
		<section>
			<p class="copyright">
				Copyright © <a href="http://www.unofficial.cn">unofficial</a> 2015. All rights reserved.
			</p>
			<p>
				<wb:share-button appkey="4176558783" addition="simple" type="button" ralateUid="3872204553" default_text="unofficial的個人網站，關注學習分享知識" pic="http%3A%2F%2Fwww.unofficial.cn%2Fpublic%2Fimg%2FfixedBg.jpg"></wb:share-button>
			</p>
		</section>
	</div>
</footer>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=52446048" charset="UTF-8"></script>
</body>
</html>