{
  "extends": "react-app",
  "rules": {
    "prettier/prettier": "error",
    "strict": [0],
    "no-sequences": [0],
    "no-mixed-operators": [0],
    "react/react-in-jsx-scope": [0],
    "no-useless-escape": [0]
  },
  "plugins": ["prettier"]
}
