html, body {
    min-height: 100%;
    min-width: 320px;
}
body {
    background-color: #f9f9f9;
    margin: 0;
}

::selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
