.x {
    padding-top: constant(safe-area-inset-top)!important;
    padding-right: constant(safe-area-inset-right)!important;
    padding-bottom: constant(safe-area-inset-bottom)!important;
    padding-left: constant(safe-area-inset-left)!important;
    box-sizing: content-box!important;
}