.page {
    padding-bottom: 72px;
    background: #fff;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.rule {
    margin: 80px 30px 0;
}

.title {
    height: 50px;
    font-size: 36px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(29,30,31,1);
    line-height: 50px;
}

.content {
    margin-top: 26px;
    div {
        font-size: 28px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(29,30,31,1);
        line-height: 44px;
        margin-bottom: 6px;
        &:last-of-type {
            margin-bottom: 0;    
        }
    }
}

.placeholder {
    height: 98px;
}

.btn {
    position: fixed;
    bottom: 0;
    height:98px;
    background:rgba(209,40,17,1);
    font-size:32px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(253,247,223,1);
    line-height:34px;
    width: 100%;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
}