.page {
    background-color: #fff;
    min-height: 100vh;
}
.index {
    max-width 100%;
    max-height: 100%; 
}

.content {
    padding: 0 30px;
    position: relative;
}

.title {
    height: 32px;
    font-size: 30px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: rgba(42,42,41,1);
    line-height: 32px;
}

.desc {
    max-width 534px; 
    font-size: 26px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(42,42,41,1);
    line-height: 37px;
    margin-top: 20px;
    span {
        color: #EE1A22FF;
    }
}

.other {
    position: absolute;
    bottom: 4px;
    right: 30px;
    height: 24px;
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(238,26,34,1);
    line-height: 24px;
    display: flex;
    align-items: center;
    img {
        width: 11px;
        height: 19px;
        margin-left: 9px;
    }
}

.placeholder {
    height: 98px;
}

.btn {
    position: fixed;
    bottom: 0;
    height:98px;
    background:rgba(209,40,17,1);
    font-size:32px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(253,247,223,1);
    line-height:34px;
    width: 100%;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
}