.page {
    background-color: #D12810;
    height: 100vh;
    img {
        vertical-align: top;
        max-width 100%;
        max-height: 300px;
    }
}

.container {
    margin: 0 30px;    
    background-color: #F0EEEFFF;
    border: 16px solid #fff;
    height: calc(100% - 304px);
}

.footer {
    margin: 24px 30px 0;
    // color: #fff;
    // display: flex;
    // justify-content: space-between;
    // line-height: 32px;
    // .lifegoods {
    //     max-width: 212px;
    //     font-size: 42px;
    //     font-weight: 800;
    //     span {
    //         font-size: 24px;
    //         font-weight: normal;
    //     }
    // }
    // .copyright {
    //     font-size: 24px;
    //     align-self: flex-end;
    // }
    img {
        max-width 100%;
    }
}

.icon, .title, .desc {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: rgba(238,26,34,1);
    text-align: center;
}

.icon {
    width: 166px;
    height: 166px;
    top: 260px;
    img {
        max-width 100%;
    }
}

.title {
    height: 36px;
    font-size: 90px;
    font-family: SourceHanSansCN-Normal;
    font-weight: 400;
    line-height: 35px;
    top: 490px;
}

.desc {
    height: 40px;
    font-size: 28px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 12px;
    top: 560px;
    font-weight: normal;
}

.uploader {
    position: relative;
    height: 100%;
}